# Google OAuth Configuration
# Get your client ID from: https://console.developers.google.com/
VITE_GOOGLE_CLIENT_ID=16817408052-4hnm81jmkh2enp7e39leb5mj6k18jrqu.apps.googleusercontent.com

# API Configuration
VITE_REACT_APP_API_URL=https://skillswap-3-ko34.onrender.com/api

# WebSocket Configuration
VITE_REACT_APP_WS_URL=wss://skillswap-3-ko34.onrender.com